<div class = background >
  

    <h1> I need help
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      llllllllllllllllllllllllllllllllllllll
      eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
      dddddddddddddddddddddddddddddddddddddd
    </h1>

 

</div>

<div class="container">
    <div class="row">
      <div class="col-md">
        <p>aled</p>
      </div>
      
       

      <div class="col-md" >
        <img src="" class="img-fluid" alt="Responsive image">
    <div class="align-center" >
     
      </div>
    </div>
  </div>
