  <!--partie Salon-->

  <div>

    <h1 class="text-center"><FONT size="12pt">Le Salon</FONT></h1>
    <a name="LeSalon"></a>
  
  </div>
  
  <div>
    <div class="row">
  
        <!-- partie gauche-->
  
      <div class="col-md">
        <h2 class="text-center"><FONT size="10pt">Informatiff</FONT></h2>
        <p class="text-center"><FONT size="6pt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero commodi incidunt in? 
          Eligendi dolorum doloribus non repellat possimus excepturi cumque animi nobis voluptates. Natus atque at, soluta aspernatur similique fugiat?</FONT></p>
      
      </div>
  
        <!-- partie Droite-->
  
      <div class="col-md">
        <mdb-carousel [animation]="'slide'">
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(98).jpg" alt="First slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(49).jpg" alt="Second slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(37).jpg" alt="Third slide">
          </mdb-carousel-item>
        </mdb-carousel>
    </div>
  </div>
  
      <!--partie Employés-->
  
  <div>
    <section class="team-section text-center my-5">
    
      <h2 class="h1-responsive font-weight-bold my-5">Employés</h2><a name="LesEmployes"></a>
  
      <p class=" w-responsive mx-auto mb-5"><FONT size="6pt">Les employés de ce salon</FONT></p>
    
      <div class="row">
          <div class="col-lg-4 col-md-5 mb-lg-0 mb-5" >
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(19).jpg" class="rounded-circle z-depth-1"
              alt="Sample avatar">
  
          </div>
  
            <h5 class="font-weight-bold mt-4 mb-3">Anna Williams</h5>
          <p class="text-uppercase blue-text">
            <strong>Coiffeuse</strong>
          </p>
            <p>dolorum perspiciatis quis corporis error atque. Dicta, aliquam a. Sequi, ducimus quia.</p>
        
        </div>
  
        
        <div class="col-lg-4 col-md-5 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
              alt="Sample avatar">
  
          </div>
  
           <h5 class="font-weight-bold mt-4 mb-3">John Doe</h5> 
           <p class="text-uppercase blue-text">
            <strong>barbier</strong>
          </p>
          <p>ro. Ullam distinctio esse nam dolor.</p>
        
        </div>
  
        <div class="col-lg-4 col-md-5 mb-md-0 mb-5"> 
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
              alt="Sample avatar">
          </div>
  
            <h5 class="font-weight-bold mt-4 mb-3">Maria Smith</h5>
            <p class="text-uppercase blue-text">
            <strong>Coiffeuse</strong>
          </p>
          <p>, sint tempora dicta veniam minima sequi numquam excepturi error.</p>
        
         </div>
  
      </div>
  
    </section>
  
  </div> 
  

<div class="container">
  <div class="row">
    <div class="col-md text-center">
      <div class="rgba-black-light">
      <div class="rouge">HOMME
      <br>
      <div class="noir">Coupe Homme Tondeuse 10€ <input type="button" value="Choisir"></div>
      <br>
      <div class="noir">Coupe Homme Ciseau 19€ <input type="button" value="Choisir"></div>
      <br>
      <div class="noir">Degradé 15€ <input type="button" value="Choisir"></div>
      <br>
      <div class="noir">Enfant 10€ <input type="button" value="Choisir"></div>
      <br>
      <div class="noir">Bébé 6€ <input class="test" type="button" value="Choisir"></div>
      
    </div>
  </div>
</div>

      <!-- partie Droite-->

<div class="col-md">
  <div class="align-center" >
  <div class="rgba-black-light">
      <div class="rouge">FEMME
        <br>
        <div class="noir">Coupe Femme Court 13€ <input type="button" value="Choisir"></div>
        <br>
        <div class="noir">Coupe Femme Long 23€  <input type="button" value="Choisir"></div>
        <br>
        <div class="noir">Coupe Femme Mi-Long 28€ <input type="button" value="Choisir"></div>
        <br>
        <div class="noir">Enfant 10€  <input type="button" value="Choisir"></div>
        <br>
        <div class="noir">Bébé 6€ <input type="button" value="Choisir"></div>
      </div>
    </div>

    
  </div>
  </div>
</div>