.background{
    background-image: url("https://lh3.googleusercontent.com/proxy/uUeV263iSVEfBiyrHpgIVZ8_gJo_ztWOcdnPhUGG9a2k3HApZjQNIxfthjTLzE3yX_C_WO0gzZJ_WgsuQ6F9TQ_eya3iY7lPabKejNzbCimBRehp1uA");
    height: 500px;
    width: 450px;
    background-repeat: no-repeat;
}

.white{
    text-decoration-color: rgb(255, 255, 255);
}